{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.category_details'|trans({'%id%': category.id|default('')}) }}
{% endblock %}

{% block body %}
    <main role="main" class="container-fluid">
        <header>
            <nav class="navbar">
                <div class="logo"><a href=><img id="logo" src="{{ asset('img/logo.png') }}"></a></div>
                <label for="input-hamburger" class="hamburger"></label>
                <input type="checkbox" id="input-hamburger" hidden>
                <ul class="menu">
                    <li><a href=> {{ 'title_articles_list'|trans }} </a></li>
                    <li><a href=> {{ 'title_articles_create'|trans }} </a></li>
                    <li><a href=> {{ 'title_categories_list'|trans }} </a></li>
                    <li><a href=> {{ 'title_categories_create'|trans }} </a></li>
                    <li><a href=> {{ 'title_admin_edit'|trans }} </a></li>
                    <li><a href=>Admin</a></li>
                </ul>
            </nav>
        </header>

        <div class="content">
            <h2>{{ 'title.category_details'|trans({'%id%': category.id|default('')}) }}</h2>
            {% if category is defined and category|length %}
                <dl>
                    <dt>{{ 'label_id'|trans }}</dt>
                    <dd>{{ category.id }}</dd>
                    <dt>{{ 'label_createdAt'|trans }}</dt>
                    <dd>{{ category.createdAt|format_date('long') }}</dd>
                    <dt>{{ 'label_updatedAt'|trans }}</dt>
                    <dd>{{ category.updatedAt|format_date('long') }}</dd>
                    <dt>{{ 'label_category'|trans }}</dt>
                    <dd>{{ category.title }}</dd>
                </dl>
                <p>
                    <a class="btn" href="{{ url('category_index') }}" title="{{ 'action.back_to_list'|trans }}" role="button">
                        {{ 'action.back_to_list'|trans }}
                    </a>
                </p>
            {% else %}
                <p>
                    {{ 'message.record_not_found'|trans }}
                </p>
            {% endif %}
        </div>
        <footer>Magdalena Blicharz</footer>
    </main>
{% endblock %}