{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.article_details'|trans({'%id%': article.id|default('')}) }}
{% endblock %}

{% block body %}
<main role="main" class="container-fluid">
    <header>
        <nav class="navbar">
            <div class="logo"><a href=><img id="logo" src="{{ asset('img/logo.png') }}"></a></div>
            <label for="input-hamburger" class="hamburger"></label>
            <input type="checkbox" id="input-hamburger" hidden>
            <ul class="menu">
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ url('article_index') }}"> {{ 'title.articles_list'|trans }} </a></li>
                    <li><a href="{{ url('article_create') }}"> {{ 'title.article_create'|trans }} </a></li>
                    <li><a href="{{ url('category_index') }}"> {{ 'title.categories_list'|trans }} </a></li>
                    <li><a href="{{ url('category_create') }}"> {{ 'title.category_create'|trans }} </a></li>
                    <li><a href=> {{ 'title.admin_edit'|trans }} </a></li>
                {% else %}
                    <li><a href="{{ url('article_index') }}"> {{ 'title.articles_list'|trans }} </a></li>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li><a href="{{ url('app_logout') }}">{{ 'logout'|trans }}</a></li>
                {% else %}
                    <li><a href="{{ url('app_login') }}">{{ 'login'|trans }}</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <div class="content">
        <h2>{{ 'title.article_details'|trans({'%id%': article.id|default('')}) }}</h2>
            {% if article is defined and article|length %}
                <dl>
                    <dt>{{ 'label.id'|trans }}</dt>
                    <dd>{{ article.id }}</dd>
                    <dt>{{ 'label.createdAt'|trans }}</dt>
                    <dd>{{ article.createdAt|format_date('long') }}</dd>
                    <dt>{{ 'label.updatedAt'|trans }}</dt>
                    <dd>{{ article.updatedAt|format_date('long') }}</dd>
                    <dt>{{ 'label.category'|trans }}</dt>
                    <dd>{{  article.category.title }}</dd>
                    <dt>{{ 'label.title'|trans }}</dt>
                    <dd>{{  article.title }}</dd>
                    <dt>{{ 'label.content'|trans }}</dt>
                    <dd>{{  article.content }}</dd>
                </dl>
                <p>
                    <a class="btn" href="{{ url('article_index') }}" title="{{ 'action.back_to_list'|trans }}" role="button">
                    {{ 'action.back_to_list'|trans }}
                    </a>
                </p>
            {% else %}
                {% include 'default/_single_alert_message.html.twig' with {
                    type: 'warning',
                    message: 'message.record_not_found'|trans
                } %}
            {% endif %}
    </div>
    <footer>Magdalena Blicharz</footer>
</main>
{% endblock %}